@page "/contato"

<section class="flex flex-col w-full items-center bg-[#750303] min-h-[700px] m-0 p-0">
    <div class="flex flex-row w-[85%] lg:w-[70%] gap-3 items-center lg:items-start lg:justify-center lg:gap-6 mt-[50px] lg:mt-[100px] mb-[50px] lg:mb-[100px]">
        <div class="hidden lg:flex flex-col w-[45%] lg:max-w-[45%] gap-5">
            <h1 class="text-4xl font-titillium font-extrabold text-primary mb-[30px]">
                Entre em Contato
            </h1>
            <div class="flex flex-row gap-3 items-center">
                <img src="/img/email-contato.png" alt="icone de email" class="w-[24px]"/>
                <p class="text-xl text-primary font-sans font-bold">
                    Fale Conosco - Estamos Aqui Para Ajudar!
                </p>
            </div>
            <p class="text-base text-primary font-sans font-semibold">
                Tem alguma dúvida, precisa de um orçamento ou quer saber mais sobre nossos serviços? Entre em contato conosco pelo e-mail e teremos o prazer de atendê-lo.
            </p>
            <div class="flex flex-row gap-3 items-center">
                <img src="/img/telefone-contato.png" alt="icone de telefone"/>
                <p class="text-xl text-primary font-sans font-bold">
                    Telefone: (41) 3292-3047
                </p>
            </div>
            <div class="flex flex-row gap-3 items-center">
                <img src="/img/whatsapp-contato.png" alt="icone de whatsapp"/>
                <p class="text-xl text-primary font-sans font-bold">
                    Whatsapp: (41) 99274-4920
                </p>
            </div>
            <p class="text-base text-primary font-sans font-semibold">
                Nossa equipe está pronta para oferecer o melhor atendimento e solucionar suas dúvidas o mais rápido possível! 🚀            
            </p>
        </div>
        <div class="flex flex-col w-full lg:w-[45%] lg:max-w-[45%] gap-3 items-center">
            <h1 class="text-4xl font-titillium font-extrabold text-primary mb-[30px] lg:hidden">
                Entrar em Contato
            </h1>
            <form class="flex flex-col items-center lg:items-start w-full gap-4" @onsubmit="SendForm">
                <!-- Nome -->
                <div class="flex flex-col w-full">
                    <label class="block text-sm font-medium text-primary mb-1" for="name">Nome</label>
                    <input id="name" type="text" @bind="Contact.Name" required
                           class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#FFFFFF] focus:border-[#FFFFFF] transition"/>
                </div>

                <!-- Telefone -->
                <div class="flex flex-col w-full">
                    <label class="block text-sm font-medium text-primary mb-1" for="phone">Telefone</label>
                    <input id="phone" type="tel" @bind="Contact.Phone" required
                           class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#FFFFFF] focus:border-[#FFFFFF] transition"/>
                </div>

                <!-- Email -->
                <div class="flex flex-col w-full">
                    <label class="block text-sm font-medium text-primary mb-1" for="email">Email</label>
                    <input id="email" type="email" @bind="Contact.Email"
                           class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#FFFFFF] focus:border-[#FFFFFF] transition"/>
                </div>

                <!-- Mensagem -->
                <div class="flex flex-col w-full mb-5">
                    <label class="block text-sm font-medium text-primary mb-1" for="message">Mensagem</label>
                    <textarea id="message"
                              @bind="Contact.Message"
                              rows="5"
                              class="w-full px-4 py-2 border border-gray-300 rounded-lg resize-y focus:outline-none focus:ring-2 focus:ring-[#FFFFFF] focus:border-[#FFFFFF] transition">
                </textarea>
                </div>

                <!-- Botão -->
                @if (_formIsBusy)
                {
                    <MudProgressCircular Size="Size.Medium" Class="align-self-center" Color="Color.Info" Indeterminate="true" />
                }
                else
                {
                    <button type="submit" disabled="@((_formIsBusy || _isButtonDisabled))"
                            class="w-[50%]  bg-primary hover:bg-[#FF8659] text-[#750303] text-lg font-semibold py-2 px-5 rounded-lg transition">
                        @(_isButtonDisabled ? $"Aguarde {_buttonCountdown.Minutes:D2}:{_buttonCountdown.Seconds:D2}..." : "Enviar")
                    </button>
                }
            </form>
        </div>
    </div>
</section>