@page "/"

<section class="flex flex-col items-center w-full mt-[40px] lg:mt-[80px]">
    <div class="flex flex-col lg:flex-row w-[85%] lg:w-[70%] justify-between gap-10 pb-[50px] lg:pb-[100px] lg:items-center border-b">
        <div class="w-full flex flex-col gap-10 items-center lg:max-w-[50%] lg:mt-[40px] lg:items-start">
            <h1 class="font-extrabold text-5xl lg:text-6xl font-titillium text-[#BE0405] text-left lg:text-left">
                Assistência Técnica em TVs - Conserto e Orçamento sem Compromisso
            </h1>
            <p class="text-left font-sans font-semibold text-sm text-[#4D4D4D] lg:text-base lg:text-left lg:mb-5">Orçamento gratuito, conserto rápido e garantido para sua TV em Campo Largo. Qualidade e confiança em assistência técnica e venda de televisores há mais de 30 Anos.</p>
            <img class="flex md:w-[70%] lg:hidden" src="/img/tv.png" alt="imagem TV"/>
            <MudButton Class="text-base font-sans font-normal rounded-lg p-4 w-fit self-center lg:self-start mb-8" Size="Size.Medium" FullWidth="false" Href="/orcamento" Variant="Variant.Filled" Color="Color.Primary">Solicitar Orçamento</MudButton>
        </div>
        <div class="hidden lg:flex max-w-[40%]">
            <img src="/img/tv.png" alt="imagem TV"/>
        </div>
    </div>
</section>
<section class="flex flex-col w-full items-center mt-[60px] lg:mt-[120px]">
    <div class="flex flex-col w-[85%] lg:w-[70%] border-b">
        <h1 class="font-extrabold text-5xl font-titillium text-[#BE0405] mb-6">
            Sobre Nós
        </h1>
        <div class="flex flex-col lg:flex-row w-full lg:justify-between mb-[60px] lg:mb-[120px]">
            <div class="flex flex-col w-full lg:max-w-[60%] gap-5">
                <p class="text-lg font-sans font-semibold">
                    Qualidade e Confiança em Assistência Técnica e Venda de Televisores há Mais de 30 Anos
                </p>
                <p class="text-base font-sans font-semibold">
                    Há mais de três décadas, a TVS ELETRÔNICA é sinônimo de excelência no conserto e venda de televisores. Localizada em Campo Largo, Paraná, consolidamos nossa reputação como referência em assistência técnica especializada, oferecendo soluções confiáveis e de alta qualidade para nossos clientes.
                </p>
                <p class="text-base font-sans font-semibold">
                    Somos assistência técnica autorizada Philco e Britânia, o que garante um serviço alinhado aos mais altos padrões das marcas líderes do mercado. Além disso, realizamos laudos técnicos para Cocel, Copel e seguradoras, proporcionando avaliações precisas e reparos especializados para atender às necessidades dos nossos parceiros e clientes.
                </p>
                <p class="text-base font-sans font-semibold">
                    Na TVS ELETRÔNICA, nosso compromisso vai além do conserto de televisores: buscamos a satisfação total do cliente. Com um atendimento personalizado, soluções ágeis e um serviço técnico de confiança, estamos prontos para superar suas expectativas.
                </p>
                <p class="text-base font-sans font-semibold">
                    📍 Rua Centenário, 1531, Centro | 🔧 Mais de 30 anos de experiência
                </p>
            </div>
            <div class="flex flex-col w-full lg:max-w-[35%]">
                <div class="flex flex-col w-full bg-gradient-to-br from-[#BE0405] to-[#750303] rounded-lg min-h-[300px] mt-[40px] lg:mt-[0px] shadow-xl items-center">
                    <h1 class="text-lg font-sans font-bold text-primary pt-4 pb-8">NOSSAS CONQUISTAS</h1>
                    <div class="flex flex-col w-[90%] gap-3">
                        <div class="flex flex-row gap-2">
                            <img class="w-[30px] max-h-[30px]" src="/img/metas.png" alt="metas"/>
                            <p class="text-base font-semibold text-primary">
                                Mais de 1.000 vendas realizadas
                            </p>
                        </div>
                        <div class="flex flex-row gap-2">
                            <img class="w-[30px] max-h-[30px]" src="/img/metas.png" alt="metas"/>
                            <p class="text-base font-semibold text-primary">
                                Mais de 65.000 orçamentos realizados
                            </p>
                        </div>
                        <div class="flex flex-row gap-2">
                            <img class="w-[30px] max-h-[30px]" src="/img/metas.png" alt="metas"/>
                            <p class="text-base font-semibold text-primary">
                                Mais de 30.000 consertos concluídos
                            </p>
                        </div>
                        <div class="flex flex-row gap-2 mb-[40px]">
                            <img class="w-[30px] max-h-[30px]" src="/img/metas.png" alt="metas"/>
                            <p class="text-base font-semibold text-primary">
                                Empresa autorizada Philco
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flex flex-col w-full items-center">
    <h1 class="font-extrabold text-5xl font-titillium text-[#BE0405] mb-6 mt-[60px] lg:mt-[100px]">
        Nosso Foco
    </h1>
    <div class="flex flex-col lg:flex-row lg:justify-evenly items-center gap-5 mt-[60px] w-[85%] lg:w-[70%] pb-[50px] lg:pb-[300px]">
        <div class="flex flex-col items-center w-full md:max-w-[70%] lg:max-w-[260px] min-h-[500px] lg:max-h-[500px] lg:min-h-[500px] gap-7 md:gap-0 bg-gradient-to-br from-[#BE0405] to-[#750303] rounded-lg shadow-2xl border-b">
            <div class="flex flex-col items-center max-w-[80%] max-h-[80%] mt-5 gap-6">
                <img src="/img/tv-ilustracao.png" alt="imagem de TV" class="max-h-[200px]"/>
                <h1 class="text-2xl md:text-xl text-primary font-titillium font-extrabold text-center">
                    Venda de TVs
                </h1>
                <p class="text-lg lg:text-sm text-primary font-sans font-semibold text-center">
                    Trabalhamos com produtos revisados e garantimos qualidade em cada venda. Produtos com garantia de 1 ano.
                </p>
            </div>
        </div>
        <div class="flex flex-col items-center w-full md:max-w-[70%] lg:max-w-[320px] min-h-[500px] lg:min-h-[600px] bg-gradient-to-br from-[#BE0405] to-[#750303] rounded-lg shadow-2xl">
            <div class="flex flex-col items-center max-w-[80%] max-h-[80%] mt-5 gap-6">
                <img src="/img/conserto.png" alt="imagem de TV" class="max-h-[200px]"/>
                <h1 class="text-2xl text-primary font-titillium font-extrabold text-center">
                    Assistência Técnica Especializada
                </h1>
                <p class="text-lg lg:text-base text-primary font-sans font-semibold text-center">
                    Somos autorizados Philco e Britânia, oferecendo reparos com peças originais e técnicos qualificados.                
                </p>
            </div>
        </div>
        <div class="flex flex-col items-center w-full md:max-w-[70%] lg:max-w-[260px] min-h-[500px] lg:min-h-[500px] bg-gradient-to-br from-[#BE0405] to-[#750303] rounded-lg shadow-2xl">
            <div class="flex flex-col items-center max-w-[80%] max-h-[80%] mt-5 gap-6">
                <img src="/img/velocidade.png" alt="imagem de TV" class="max-h-[200px]"/>
                <h1 class="text-2xl md:text-xl text-primary font-titillium font-extrabold text-center">
                    Rapidez e Eficiência                
                </h1>
                <p class="text-lg lg:text-sm text-primary font-sans font-semibold text-center">
                    Realizamos orçamentos ágeis e entregamos soluções e produtos no menor tempo possível.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="flex flex-col w-full items-center bg-[#750303] min-h-[700px]">
    <div class="hidden lg:flex flex-row w-[80%] justify-between mt-[-125px] break-words">
        <div class="flex flex-col w-[24%] min-h-[270px] bg-[#f9f6ec] rounded-lg items-center shadow-2xl break-words">
            <div class="flex flex-col items-center max-w-[80%] max-h-[80%] mt-5 gap-3">
                <img src="/img/localizacao.png" alt="icone de localizacao" class="max-h-[65px]"/>
                <h1 class="font-titillium font-extrabold text-black text-lg break-all">
                    NOSSA LOCALIZAÇÃO
                </h1>
                <p class="text-base font-sans font-semibold text-black break-all">
                    Rua Centenário, 1531, Centro
                </p>
                <p class="text-base font-sans font-semibold text-black break-all">
                    Campo Largo - Paraná
                </p>
                <p class="text-base font-sans font-semibold text-black break-all">
                    CEP: 83601-000
                </p>
            </div>
        </div>
        <div class="flex flex-col w-[24%] min-h-[270px] items-center bg-[#f9f6ec] rounded-lg shadow-2xl break-words">
            <div class="flex flex-col items-center max-w-[80%] max-h-[80%] mt-5 gap-3 break-words">
                <img src="/img/telefone.png" alt="icone de localizacao" class="max-h-[65px]"/>
                <h1 class="font-titillium font-extrabold text-black text-lg break-all">
                    TELEFONE FIXO
                </h1>
                <p class="text-base font-sans font-semibold text-black break-all">
                    (41) 3292-3047
                </p>
            </div>
        </div>
        <div class="flex flex-col w-[24%] items-center min-h-[270px] bg-[#f9f6ec] rounded-lg shadow-2xl break-words">
            <div class="flex flex-col items-center max-w-[80%] max-h-[80%] mt-5 gap-3 break-words">
                <img src="/img/whatsapp.png" alt="icone de localizacao" class="max-h-[65px]"/>
                <h1 class="font-titillium font-extrabold text-black text-lg break-all">
                    WHATSAPP
                </h1>
                <p class="text-base font-sans font-semibold text-black break-all">
                    (41) 99274-4920
                </p>
            </div>
        </div>
        <div class="flex flex-col items-center w-[24%] min-h-[270px] bg-[#f9f6ec] rounded-lg shadow-2xl break-words">
            <div class="flex flex-col items-center max-w-[80%] max-h-[80%] mt-5 gap-3 break-words">
                <img src="/img/email.png" alt="icone de localizacao" class="max-h-[65px]"/>
                <h1 class="font-titillium font-extrabold text-black text-lg">
                    E-MAIL
                </h1>
                <p class="text-base font-sans font-semibold text-black break-all">
                    tvseletronica@tvseletronica.com.br
                </p>
            </div>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row w-[85%] lg:w-[70%] gap-3 items-center lg:items-start lg:justify-center lg:gap-12 mt-[50px] lg:mt-[100px] mb-[50px] lg:mb-[100px]">
        <div class="flex flex-col mb-[20px] lg:mb-[0px] w-full lg:w-[45%] lg:max-w-[45%] gap-5">
            <h1 class="text-4xl font-titillium font-extrabold text-primary mb-[30px]">
                Entre em Contato
            </h1>
            <div class="flex flex-row gap-3 items-center">
                <img src="/img/email-contato.png" alt="icone de email" class="w-[24px]"/>
                <p class="text-xl text-primary font-sans font-bold">
                    Fale Conosco - Estamos Aqui Para Ajudar!
                </p>
            </div>
            <p class="text-base text-primary font-sans font-semibold">
                Tem alguma dúvida, precisa de um orçamento ou quer saber mais sobre nossos serviços? Entre em contato conosco pelo e-mail e teremos o prazer de atendê-lo.
            </p>
            <div class="flex flex-row gap-3 items-center">
                <img src="/img/telefone-contato.png" alt="icone de telefone"/>
                <p class="text-xl text-primary font-sans font-bold">
                    Telefone: (41) 3292-3047
                </p>
            </div>
            <div class="flex flex-row gap-3 items-center">
                <img src="/img/whatsapp-contato.png" alt="icone de whatsapp"/>
                <p class="text-xl text-primary font-sans font-bold">
                    Whatsapp: (41) 99274-4920
                </p>
            </div>
            <p class="text-base text-primary font-sans font-semibold">
                Nossa equipe está pronta para oferecer o melhor atendimento e solucionar suas dúvidas o mais rápido possível! 🚀            
            </p>
        </div>
        <div class="flex flex-col w-full lg:w-[45%] lg:max-w-[45%] gap-3 items-center">
            <form class="flex flex-col items-center lg:items-start w-full gap-4" @onsubmit="SendForm">
                <!-- Nome -->
                <div class="flex flex-col w-full">
                    <label class="block text-sm font-medium text-primary mb-1" for="name">Nome</label>
                    <input id="name" type="text" @bind="Contact.Name" required
                           class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#FFFFFF] focus:border-[#FFFFFF] transition"/>
                </div>

                <!-- Telefone -->
                <div class="flex flex-col w-full">
                    <label class="block text-sm font-medium text-primary mb-1" for="phone">Telefone</label>
                    <input id="phone" type="tel" @bind="Contact.Phone" required
                           class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#FFFFFF] focus:border-[#FFFFFF] transition"/>
                </div>

                <!-- Email -->
                <div class="flex flex-col w-full">
                    <label class="block text-sm font-medium text-primary mb-1" for="email">Email</label>
                    <input id="email" type="email" @bind="Contact.Email"
                           class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#FFFFFF] focus:border-[#FFFFFF] transition"/>
                </div>

                <!-- Mensagem -->
                <div class="flex flex-col w-full mb-5">
                    <label class="block text-sm font-medium text-primary mb-1" for="message">Mensagem</label>
                    <textarea id="message"
                              @bind="Contact.Message"
                              rows="5"
                              class="w-full px-4 py-2 border border-gray-300 rounded-lg resize-y focus:outline-none focus:ring-2 focus:ring-[#FFFFFF] focus:border-[#FFFFFF] transition">
                </textarea>
                </div>

                <!-- Botão -->
                @if (_formIsBusy)
                {
                    <MudProgressCircular Size="Size.Medium" Class="align-self-center" Color="Color.Info" Indeterminate="true" />
                }
                else
                {
                    <button type="submit" disabled="@((_formIsBusy || _isButtonDisabled))"
                            class="w-[50%]  bg-primary hover:bg-[#FF8659] text-[#750303] text-lg font-semibold py-2 px-5 rounded-lg transition">
                        @(_isButtonDisabled ? $"Aguarde {_buttonCountdown.Minutes:D2}:{_buttonCountdown.Seconds:D2}..." : "Enviar")
                    </button>
                }
            </form>
        </div>
    </div>
</section>
<section class="flex flex-col w-full items-center mt-[70px] lg:mt-[100px]">
    <h1 class="text-4xl font-titillium font-extrabold text-[#750303] mb-[60px] lg:mb-[80px]">
        NOSSA LOCALIZAÇÃO
    </h1>
    <img src="/img/mapa.png" alt="localizacao TVS" class="w-full"/>
</section>
