@page "/"

<section class="flex flex-col border-b">
    <div class="flex flex-row w-[85%] self-center h-fit justify-between pt-5 pb-5 sm:w-[80%] lg:w-[70%]">
        <img class="h-[38px] md:h-[70px]" src="/img/tvs-logo.PNG" alt="foto tvs logo"/>
        <img @onclick="OpenDrawer" src="/img/menu.png" alt="menu" class="h-[38px] md:hidden"/>
        <div class="hidden md:flex flex-row items-center gap-8">
            <MudLink Class="text-lg font-sans font-semibold" Href="/" Color="Color.Tertiary" Underline="Underline.Hover">Home</MudLink>
            <MudLink Class="text-lg font-sans font-semibold" Href="#" Color="Color.Tertiary" Underline="Underline.Hover">Contato</MudLink>
            <MudButton Class="text-lg font-sans font-bold" Size="Size.Large" Href="#" Variant="Variant.Outlined" Color="Color.Primary">Solicitar Orçamento</MudButton>
        </div>
    </div>
</section>
<section class="flex flex-col items-center w-full">
    <div class="flex flex-col lg:flex-row w-[85%] lg:w-[70%] justify-between gap-10 mt-[60px] pb-[50px] lg:pb-[100px] lg:items-center lg:mt-[120px] border-b">
        <div class="w-full flex flex-col gap-10 lg:max-w-[50%] lg:items-start">
            <h1 class="font-extrabold text-5xl md:text-7xl font-titillium text-[#BE0405] text-center lg:text-left">
                Assistência Técnica em TVs - Conserto e Orçamento sem Compromisso
            </h1>
            <p class="text-center font-sans font-semibold text-base text-[#3A3A3A] lg:text-lg">Orçamento gratuito, conserto rápido e garantido para sua TV em Campo Largo</p>
            <img class="flex md:hidden" src="/img/tv.png" alt="imagem TV"/>
            <MudButton Class="text-lg font-sans font-semibold rounded-xl p-5 w-fit self-center md:self-start mb-8" Size="Size.Large" FullWidth="false" Href="#" Variant="Variant.Filled" Color="Color.Primary">Solicitar Orçamento</MudButton>
        </div>
        <div class="hidden lg:flex max-w-[40%]">
            <img src="/img/tv.png" alt="imagem TV"/>
        </div>
    </div>
</section>



<MudDrawer Style="overflow:hidden; position:fixed;" @bind-Open="@_open" Width="70vw" Height="100vh" Anchor="Anchor.Left" Elevation="1" Variant="@DrawerVariant.Temporary">
    <MudDrawerHeader Class="flex flex-col gap-5 mb-12 bg-roxo">
        <img src="/img/tvs-logo.PNG" class="w-[60%]" alt="imagem logo tvs"/>
    </MudDrawerHeader>
        <MudNavMenu Class="flex flex-col">
            <div class="flex flex-col pl-3 gap-5">
                <MudLink Class="text-base font-sans font-semibold" Href="/" Color="Color.Primary" Underline="Underline.Hover">Home</MudLink>
                <MudLink Class="text-base font-sans font-semibold" Href="#" Color="Color.Primary" Underline="Underline.Hover">Contato</MudLink>
                <MudLink Class="text-base font-sans font-semibold" Href="#" Color="Color.Primary" Underline="Underline.Hover">Consultar Orçamento</MudLink>
                <MudButton Class="text-sm font-sans font-semibold w-fit" FullWidth="false" Size="Size.Large" Href="#" Variant="Variant.Filled" Color="Color.Primary">Solicitar Orçamento</MudButton>
            </div>
        </MudNavMenu>
        
        </MudDrawer>